@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-orelega-one: 'Orelega One', cursive;
}

body {
  font-family: var(--font-poppins);
}

.font-orelega {
  font-family: var(--font-orelega-one);
}

/* Form untuk ukuran 390px sampai 700px */
@media (min-width: 390px) and (max-width: 700px) {
  .marginForm {
    margin-top: -80px;
  }
}

/* theme untuk ukuran 0px sampai 380px */
@media (min-width: 0px) and (max-width: 380px) {
  .height_theme {
    height: 100px;
  }
}


.date-input {
  background-image: url('/date-icon-light.png');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.25rem;
}

.dark .date-input {
  background-image: url('/date-icon-dark.png');
}

